XMLparser/pharmacy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pharmacy" type="pharmacyType"/>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="John Doe"/>
            <xs:enumeration value="Jane Smith"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="address">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="123 Main St."/>
            <xs:enumeration value="456 Elm St."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="state"/>
      <xs:element type="xs:string" name="zip"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="customersType">
    <xs:sequence>
      <xs:element type="customerType" name="customer" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doctorType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dr. John Smith"/>
            <xs:enumeration value="Dr. Jane Doe"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="specialty">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Pediatrics"/>
            <xs:enumeration value="Cardiology"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="doctorsType">
    <xs:sequence>
      <xs:element type="doctorType" name="doctor" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medicine_orderType">
    <xs:sequence>
      <xs:element name="customer_id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="doctor_id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2023-04-05"/>
            <xs:enumeration value="2023-04-06"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="medicine_ordersType">
    <xs:sequence>
      <xs:element type="medicine_orderType" name="medicine_order" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prescription_itemType">
    <xs:sequence>
      <xs:element name="medicine_order_id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="drug_name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Lipitor"/>
            <xs:enumeration value="Zoloft"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dosage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20mg"/>
            <xs:enumeration value="50mg"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="prescription_itemsType">
    <xs:sequence>
      <xs:element type="prescription_itemType" name="prescription_item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pharmacyType">
    <xs:sequence>
      <xs:element type="customersType" name="customers"/>
      <xs:element type="doctorsType" name="doctors"/>
      <xs:element type="medicine_ordersType" name="medicine_orders"/>
      <xs:element type="prescription_itemsType" name="prescription_items"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>